In [2]:
import pandas as pd
from tqdm import tqdm

In [27]:
dfd = pd.read_csv(r'demandeurs_IDF__revenus.csv', index_col = 0)

In [30]:
dfd=dfd.rename(columns={'Type de ressource': 'Type'})

In [32]:
values=["Retraite", "Allocation chômage / indemnités", "Salaire ou revenu d'activité", "Pension alimentaire reçue", "Autres (hors APL ou AL)", "Pension d\'invalidité"]
filtered_df = dfd[dfd.Type.isin(values)]
filtered_df

,Numéro Unique,Ressources mensuelles,Type,Montant par type de ressource
index,,,,
0,0010216061927GDPUB,908.0,Retraite,908.0
1,001021707657411126,1239.0,Retraite,1239.0
2,0010417079507GDPUB,1000.0,Allocation chômage / indemnités,1000.0
3,001071606857001033,1570.0,Allocation chômage / indemnités,500.0
4,001071606857001033,1570.0,Salaire ou revenu d'activité,1070.0
...,...,...,...,...
1285443,974051714578111487,367.0,Autres (hors APL ou AL),168.0
1285445,974081715046411487,1027.0,Pension alimentaire reçue,160.0
1285446,974081715046411487,1027.0,Retraite,867.0
1285447,974101613022611484,1240.0,Retraite,1240.0
1285448,974111613236511483,1650.0,Salaire ou revenu d'activité,1650.0

In [34]:
shrank_values = filtered_df.groupby(by='Numéro Unique').sum()['Montant par type de ressource']

merged_df = filtered_df.merge(shrank_values, left_on='Numéro Unique', right_index=True)

merged_df = merged_df.rename(columns={'Montant par type de ressource_y': 'Revenu imposable'})

In [43]:
#Foyers dont les ressources mensuelles ne matchent pas le revenu imposable => Une part des ressources n'est pas imposable
merged_df[merged_df['Revenu imposable']!=merged_df['Ressources mensuelles']]

,Numéro Unique,Ressources mensuelles,Type,Montant par type de ressource_x,Revenu imposable
index,,,,,
29,002011403169610414,946.0,Salaire ou revenu d'activité,650.0,650.0
30,002011707708910411,1000.0,Retraite,1001.0,1001.0
32,0020117077711GDPUB,1850.0,Salaire ou revenu d'activité,1650.0,1650.0
34,002011707772510420,1982.0,Salaire ou revenu d'activité,1700.0,1700.0
37,002021707869210424,1371.0,Retraite,1671.0,1671.0
...,...,...,...,...,...
1285435,972121705572711572,1157.0,Retraite,1044.0,1044.0
1285437,9740317139610AL020,691.0,Pension d'invalidité,991.0,991.0
1285440,9740317140139AL020,3728.0,Pension alimentaire reçue,100.0,1828.0
1285441,9740317140139AL020,3728.0,Salaire ou revenu d'activité,1728.0,1828.0
1285443,974051714578111487,367.0,Autres (hors APL ou AL),168.0,168.0

In [45]:
#Foyers avec plusieurs type de revenus
merged_df[merged_df['Revenu imposable']!=merged_df['Montant par type de ressource_x']]

,Numéro Unique,Ressources mensuelles,Type,Montant par type de ressource_x,Revenu imposable
index,,,,,
3,001071606857001033,1570.0,Allocation chômage / indemnités,500.0,1570.0
4,001071606857001033,1570.0,Salaire ou revenu d'activité,1070.0,1570.0
7,001111708713716214,1868.0,Pension d'invalidité,723.0,1868.0
8,001111708713716214,1868.0,Retraite,1145.0,1868.0
13,0011217089230GDPUB,1800.0,Allocation chômage / indemnités,0.0,1800.0
...,...,...,...,...,...
1285430,972091705244411572,3002.0,Salaire ou revenu d'activité,1501.0,3002.0
1285440,9740317140139AL020,3728.0,Pension alimentaire reçue,100.0,1828.0
1285441,9740317140139AL020,3728.0,Salaire ou revenu d'activité,1728.0,1828.0
1285445,974081715046411487,1027.0,Pension alimentaire reçue,160.0,1027.0
1285446,974081715046411487,1027.0,Retraite,867.0,1027.0

In [47]:
#Foyers avec un seul type de revenu
merged_df[~(merged_df['Revenu imposable']!=merged_df['Montant par type de ressource_x'])]

,Numéro Unique,Ressources mensuelles,Type,Montant par type de ressource_x,Revenu imposable
index,,,,,
0,0010216061927GDPUB,908.0,Retraite,908.0,908.0
1,001021707657411126,1239.0,Retraite,1239.0,1239.0
2,0010417079507GDPUB,1000.0,Allocation chômage / indemnités,1000.0,1000.0
5,001081708354301071,2000.0,Salaire ou revenu d'activité,2000.0,2000.0
6,0010917085404AL020,44030.0,Salaire ou revenu d'activité,44030.0,44030.0
...,...,...,...,...,...
1285438,9740317140124AL020,1560.0,Salaire ou revenu d'activité,1560.0,1560.0
1285442,9740317140152GDPUB,952.0,Retraite,952.0,952.0
1285443,974051714578111487,367.0,Autres (hors APL ou AL),168.0,168.0
1285447,974101613022611484,1240.0,Retraite,1240.0,1240.0
1285448,974111613236511483,1650.0,Salaire ou revenu d'activité,1650.0,1650.0